body{
    background-color: rgb(56, 56, 56);
    overflow-y: hidden;
    overflow-y: hidden;
    margin: 0;
}

*{
    margin: 0;padding: 0;
    scrollbar-color: grey;
}

.nav ul{
    display: flex;
    list-style-type: none;
    background-color: black;
    height: 65px;
    align-items: center;
    color: white;
}

.nav li{
    padding: 15px;
}

.brand img{
    width: 44px;
    padding-right: 10px;
    padding-left: 0;
}

.brand{
    display: flex;
    align-items: center;
    font-size: larger;
    color: white;
}

.container{
    display: flex;
    max-height: 72vh;
    background-image: url(bg3.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 70%;
    margin: 30px auto;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 30px black;
    position: sticky;
    overflow-y: auto;
    scrollbar-width: none;
    margin-bottom: 20px;
}

.bottom{
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: -1px;
    width: 100%;
    z-index: 400;
}

#progressbar{
    -webkit-appearance: none;
    background-color: grey;
    color: black;
    border-radius: 15px;
    width: 75vw;
    cursor: pointer;
    scroll-behavior: smooth;
    outline: none;
    height: 10px;
}

#progressbar::-moz-range-progress{
    background: black;
}

#progressbar::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: rgb(61, 61, 61);
    border-radius: 50%;
    cursor: pointer;
    width: 17px;
    height: 17px;
}

.icons{
    margin-top: 25px;
}

.icons i{
    cursor: pointer;
    padding: 20px;
}

.songitem{
    display: flex;
    height: 50px;
    margin: 15px 0;
    padding: 20px;
    width: 420px;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 30px;
}

.songitem img{
    width: 55px;
    margin: 0 ;
    border-radius: 50%;
}

.timespan{
    margin: 0 20px;
    position: fixed;
    right: 12%;
}

h1{
    padding: 11px 20px 20px 20px;
    color: white;
    font-size: 50px;
}

.songinfo{
    position: absolute;
    left: 13%;
    padding-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.songinfo img{
    opacity: 0;
    transition: opacity 0.3s ease-in;
    padding: 0 20px 0 0;
}

@media (min-width: 300px) and (max-width: 600px) {
 
.container{
    display: flex;
    justify-content: center;
    background-color: black;
    background-image: none;
    width: 80%;
    height: 65vh;
    margin: 8% auto;
    padding: 0;
    overflow-x: hidden;
    padding: 20px;
}

h1{
    font-size: 25px;
    place-items: center;
    padding: 20px;
    text-align: center;
}

.songitem{
    position: relative;
    background-color: rgb(56, 56, 56);
    width: 110%;
    margin: 0 0px 20px -4%;
    left: -8%;
    right: 5%;
}

.songitemcontainer{
    padding: 0;
    margin: 0 auto;
}

#progressbar{
    margin-bottom: 8px;
}

.songinfo{
    left: 12%;
    z-index: 0;
}

.bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: -1px;
    width: 100%;
    z-index: 400;
    height: 120px;
}

.songinfo{
    position: absolute;
    left: 12%;
    top: 15px;
}

.songinfo img{
    padding: 0 7px 0 0;
}

.icons{
    padding: 20px 7px 0px 20px;
    margin-top: 10px;
}

.timespan{
    right: 9%;
    z-index: 5;
    background-color: black;
}

}